.container {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: grid;
  align-items: center;
  place-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
